* {
  margin: 0;
  padding: 0;
}

.header-container {
  width: 100vw;
  height: 10vh;
  background: red;
  border-bottom: 3px solid darkred;
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-container div {
  width: 20vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.header-container h1 {
  color: white;
}

.canvas-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.canvas-container img {
  border: 5px solid black;
  border-radius: 5px;
}
